ion-radio {
    height: 16px !important;
    width: 16px !important;
    margin-top: 16px;
    vertical-align: sub;
    margin-right: 8px;
}
div{
    font-size: 14px;
}
ion-checkbox {
    height: 14px !important;
    width: 14px !important;
    margin-top: 16px;
    vertical-align: sub;
    margin-right: 8px;
    --background-checked: #fff;
    --checkmark-color: #36abe0;
    --checkmark-width: 4px;
}
h3 {
    font-size: 16px;
    margin: 16px;
    color: #5d5b5b !important;
}
ion-slide {
    display: block;
    text-align: -webkit-center !important;
    text-align: center;
    div {
        width: 80px !important; 
        height: 90px !important;
    }
    p{
        font-size: 14px !important;
    }
} 
.nocloth {
    text-align: center;
    margin-top: 100px !important;
    font-size: 14px;
    color: #989898 !important;
}
.nodata{
    img {
        height: 40px;
    }
}