#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.container1 {
    margin: 15px;
    text-align: -webkit-center;
    padding: 12px;
    border: 2px solid #757575;
    border-radius: 10px;
    /* box-shadow: 2px 2px 2px; */
    -webkit-box-shadow: inset 3px 4px 13px 3px rgba(44,135,163,0.47);
    -moz-box-shadow: inset 3px 4px 13px 3px rgba(44,135,163,0.47);
    box-shadow: inset 3px 4px 13px 3px rgba(44,135,163,0.47);
    .imgcontainer {
      width: 115px !important;
      height: 90px !important; 
      margin: 10px 0px !important;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    ion-text {
      font-weight: 500;
    }
  }