ion-icon {
    font-size: 20px;
    color: #45a08d;
    background: #fff;
    border-radius: 50%;
}
ion-slides{
 margin: 5px !important;
 height: 85px !important;
}
ion-slide{
  
}
.blur1 {
    position: absolute;
    width: 17%;
    height: 70px;
    background: #ececec;
    opacity: 0.4;
    border: 2px solid #45a08d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blur2 {
    position: absolute;
    width: 17%;
    height: 70px;
    background: #ececec;
    opacity: 0.4;
    border: 2px solid #45a08d;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
.dummy{    
    width: 100%;
    height: 500px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.clothimage {
    width: 60px;
    height: 60px;
     img {
         width: 100%;
         height: 100%;
         object-fit: contain;
     }
}
.Upperwear {
    width: 100%;
    height: 169px;
    position: absolute;
    margin-top: 61px;
    margin-left: -5px; 
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.Lowerwear {
    width: 100%;
    height: 259px;
    position: absolute;
    margin-top: 61px;
    margin-left: -5px;
    top: 168px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}